body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #E6E6E6;
	margin: 0 auto;
	color: #000;
}

h1, h2, h3, h4, h5, h6, p {
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}
a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 960px;
	background-color: #FFF;
	margin: 0 auto; 
}
.content {

	padding: 10px 0;
}